
@font-face {
    font-family: 'fonteb71cdae8106df1bc31444a045f812a4';
            src:    url('https://nomail.com.ua/files/eot/eb71cdae8106df1bc31444a045f812a4.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/eb71cdae8106df1bc31444a045f812a4.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/eb71cdae8106df1bc31444a045f812a4.woff2') format('woff2');
    }
    
    @font-face { font-family: 'Arial-BoldMT';  src: local('Arial-BoldMT'), url('https://nomail.com.ua/files/woff/eb71cdae8106df1bc31444a045f812a4.woff') format('woff'); }

    
@font-face {
    font-family: 'fontb267362fe0bf162719681f797a756433';
            src:    url('https://nomail.com.ua/files/eot/b267362fe0bf162719681f797a756433.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/b267362fe0bf162719681f797a756433.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/b267362fe0bf162719681f797a756433.woff2') format('woff2');
    }
    
    @font-face { font-family: 'ArialMT';  src: local('ArialMT'), url('https://nomail.com.ua/files/woff/b267362fe0bf162719681f797a756433.woff') format('woff'); }
    
    
    
    
    /*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/
    
    #arialmt { font-family:'ArialMT'; }
    .fontb267362fe0bf162719681f797a756433 { font-family: 'fontb267362fe0bf162719681f797a756433'; }
    
    
        
    
    